@page "/"
@using System.IO;
@using JPennacchi.BlazorApp.Services;
@inject FileService fileService;

<PageTitle>Index</PageTitle>

<h1>Upload Files to local Directory</h1>

<SurveyPrompt Title="How is Blazor working for you?" />

<form @onsubmit="OnSubmit">
    <InputFile class="form-control" OnChange="OnInputFileChange" />
    <button class="btn btn-success" type="submit">Enviar</button>
    <br />
    @Message
</form>

@code{
    string Message = "Nenhum arquivo selecionado";
    IReadOnlyList<IBrowserFile> selectedFiles;

    void OnInputFileChange(InputFileChangeEventArgs args)
    {
        selectedFiles = args.GetMultipleFiles();
        Message = $"{selectedFiles.Count} arquivo selecionado";
        StateHasChanged();
    }

    async Task OnSubmit()
    {
        if (selectedFiles is null || selectedFiles.Count == 0)
            return;

        foreach (var file in selectedFiles)
        {
            Message = await fileService.UploadFile(file);
            StateHasChanged();
        }
    }
}
